/* Portfolio Selector */
#jh-portfolio-selector { overflow: hidden; clear: both; border: 1px solid #E7E7E7; padding: 10px; background: #F9F9F9; margin: 5px 0; }
#jh-portfolio-selector ul { width: 110px; float: left; margin: 0; padding: 0; list-style: none; text-indent: 0; }
#jh-portfolio-selector ul li { margin: 3px 0; overflow: hidden; }
#jh-portfolio-selector ul li:first-child {  }
#jh-portfolio-selector ul li a { outline: none; }
#jh-portfolio-selector ul li a.active { color: #FD6400; }
#jh-portfolio-selector #main-image-holder { float: right; }

/* Brief */
#jh-portfolio-brief { border: 1px solid #E7E7E7; padding: 10px; background: #F9F9F9; margin: 5px 0; }
#jh-portfolio-brief h4 { margin: 0 0 10px 0; }
#jh-portfolio-brief p { margin: 0; }

/* Additional Images */
#jh-portfolio-additional-images { border: 1px solid #E7E7E7; padding: 10px; background: #F9F9F9; overflow: hidden; margin: 5px 0; }
#jh-portfolio-additional-image-holder { float: left; width: 50%; }
#jh-portfolio-additional-images-holder { float: right; width: 50%; }
#jh-portfolio-additional-images-holder img { float: right; margin: 5px; }
#jh-portfolio-additional-images-holder img:hover { cursor: pointer; }

/* Content */
#jh-portfolio-content { margin: 10px 0; }